.margin-top--half {
  margin-top: var(--space-unit-half);
}

.margin-top--one {
  margin-top: var(--space-unit-one);
}

.margin-top--two {
  margin-top: var(--space-unit-two);
}

.margin-bottom--half {
  margin-bottom: var(--space-unit-half);
}

.margin-bottom--one {
  margin-bottom: var(--space-unit-one);
}

.margin-bottom--two {
  margin-bottom: var(--space-unit-two);
}
